@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');
@font-face{
    font-family:'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*configuração vagabunda do menu de navegação (por sendo usada só na home page)*/
/*#logo {
position:absolute;
left:50px;
top:40px;
}

#name-site {
position:absolute;
left:550px;
top:60px;
font-family: 'Ravi Prakash', cursive;
}
div#name-site h1{
    font-size: 45pt;
}

#redes-sociais {position:absolute;
right:40px;
top:30px;
}

#ranking img{
position:absolute;
left:60px;
top:490px;
}

#pesquisar {position:absolute;
right:-40px;
top:-3px;
}

#fundo-cabecalho {background-color:skyblue;
height:200px;
text-align:center;
}

#cabecalho {width:100%;
background-color:#069;

height:55px;

}

.container-top {width:100%;
height:300px;
background-color:#CF0;
}
.block-principal{
    width: 1250px;/*altera a delimitação do conteudo do site onde estar o div, menos o menu ja que estar em posição absoluta.*/
    /*height:100%;
    background-color: #ffffff;
    margin: 50px auto 50px auto;/*cima direita baixo esquerda,pode tbm ser usada np pading 
    box-shadow:0px 0px 10px rgba(0,0,0,.5); /*descolamentoLateral delocamentoVestical espalhamentoDaSombra corDaSombra 
    padding: 10px 10px 100px 10px;
}*/

.palavrasJogadasAoVento h1{
    padding-top: 90px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
.palavrasJogadasAoVento p{
    text-align: justify;
    text-indent: 50px;
}

/*.first-line-navigation{
    width:100%;
    top:0px;
    left:0px;
    opacity:1;

}*/

section#introducao{
    position: relative;
    /*display: block;*/
    
    width: 600px;
    /*float:left;*/
    /*border-right:1px solid #606060; /* tamanho tipo e cor*/
    /*padding: 5px 10px 5px 5px; /*cima direita baixo esqueda*/
    margin: 10px 50px 10px 50px ;
}

/*
.login-or-sign-in-box img{
    position:absolute;
    top:217px;
    right:25px;
}*/

aside#artigo-home{
    /*display: block;*/
    position: absolute;
    left: 50%;
    top:330px;
    width: 550px;
    /*float: right;*/
    background-color: Skyblue;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;

}
.in-line{
    display: inline;
}


/*
footer#rodape{
    clear: both;/*limpa a configuração dos 2 lados
    border-top: 1px solid #606060;
}
*/
/*
.right-top-menu{
    display:block;
    background: linear-gradient(skyblue,DodgerBlue);
    padding: 10px 10px 10px;
    position:relative;
    top:0px;
    opacity:1;
    height: 50px;
}

.right-top-menu li{
    display:inline-block;
}
#ul1{
    list-style: none;
    position:absolute;
    top:0px;
    right:0px;
}*/

/*DROPIDOUN*/
/*
.dropbtn {
    background: linear-gradient(skyblue,dodgerblue);
    padding: 16px;
    font-size: 15px;
    color:white;
    border: none;
    cursor: pointer;
    top:0px;
    height: 50px;
    
    
}

.dropDown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: skyblue;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-color: black;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropDown:hover .dropdown-content {
    display: block;
}

.dropDown:hover .dropbtn {
    background-color: #3e8e41;
}


/*FIM DO DROPIDOUM*/

/*DROPIDOUM 2*/
/*
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: skyblue;
    min-width: 150px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-color: black;
    border-radius: 10px;
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 img {    
    padding: 12px 12px;
}

.dropdown-content2 a:hover {
    background-color: white;
    color: black;
}

.dropDown:hover .dropdown-content2 {
    display: block;
    color: black;
}

.dropDown:hover .dropbtn {
    background-color: #3e8e41;
}

/*FIM DO DROPIDOUM 2*/
/*
.search-box {
    position:absolute;
    right:120px;
    top:222px;
    
}
#txt-search-box {height:22px;
width:225px;
}

#second-menu{
    position:absolute;
    width: 800px;
    top:211px;
    left: 11px;
	overflow:hidden; 
    
}

#nav-variant a{    
    text-decoration: none;
    padding:15px;
	text-transform:uppercase;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	

}

#nav-variant li{
    display:inline-block;
	padding:15px;
	background-color:#069;
	text-align:center;
	 
}

#nav-variant li:hover{background-color:#036;}




/* custom search paage*/

input[type=button] {
    background-color: #0c6ac6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: #23bf45;
    -webkit-animation-name: anim-color-button;
    -webkit-animation-duration: 2s;
}
@-webkit-keyframes anim-color-button {
    from {background-color: #0c6ac6;}
    to {background-color: #0c6a6a;}
}
.conteiner-options{
   display:block;
    float:right;
    height:100%;
    width:100px;
}

.conteiner-options:hover .nav-options{
    width:320px;
}

.conteiner-options .nav-options{
    display:block;
    float:right;
    margin-top:120px;
    height:130px;
    width:0px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: .5s;
    background-color: #0c6ac6;
    border-radius: 30px 0px 0px 30px;
    padding-top:20px;
}

.nav-options table{
    width:312.5px;
}

.nav-options table td{
    color:#FFF;
}

.nav-options table td input{
    font-weight: bolder;
    background:linear-gradient(rgb(254,254,254),rgb(226,228,230));
    border-radius:5px;
    transition:.75s;
}

.nav-options table td input:hover{
    color: dodgerblue;
}

.formulario{
   display:block;
    /*float:left;*/
    width:70%;
    height:100%;
    padding:30px;
}

.formulario li{
   padding-bottom: 3px;
}

.panel-a-s{
    padding: 0 18px;
    display: none;
    background-color: white;
    transition:.5s;
}
.in-panel-a-s{
    list-style-type: none;
}


.accordion{
    position: relative;

}


        /*CONTAC-US */
/* SIDE-NAV  of contact-us*/
#side-nav-id a{
    position: absolute;
    top: 83%;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 90px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    background-color: #ffc226;
}
#side-nav-id a:hover{
    left: 0;
}
#btn-sidenav {
    top: 20px;
    /*background-color: #ffc226;*/
}
/* MODAL */

.txts{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #0c6ac6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #23bf45;
    -webkit-animation-name: anim-color-submit;
    -webkit-animation-duration: 2s;
}
@-webkit-keyframes anim-color-submit {
    from {background-color: #0c6ac6;}
    to {background-color: #23bf45;}
}
@keyframes anim-color-submit {
    from {background-color: #0c6ac6;}
    to {background-color: #23bf45;}
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* The Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 1s
}
.modal-content-login {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 1s
}
.close, .closel{
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus, .closel:hover,
.closel:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation 
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header {
    padding: 2px 16px;
    background-color: #00c4fe;
    color: white;
}

.modal-body {padding: 2px 16px;}
.modal-footer {
    height: 60px;
    padding: 2px 16px;
    background-color: #00c4fe;
    color: white;
}*/
.presentation{
    margin-left: 100px;
    margin-right: 100px;
}

/* END of contat-us */
section#introducao-semBorda{
    display: block;
    width: 1000px;
    /*float:left;*/
    padding: 35px 10px 5px 5px; /*cima direita baixo esqueda*/
    margin: 10px 100px 10px 100px ;

}
section#introducao-semBorda h1{
    font-family:'FonteLogo',sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5); 
    padding: 0px; 
    margin-bottom: 0px;
    font-weight: 200;
}
section#introducao-semBorda h3{
    font-family: 'Titillium Web', sans-serif;
    color:#888888;
    font-size: 15pt;
    padding: 0px; 
    margin-top: 0px;
}

/* NEW EveNVET */

.form-add-new-event {
    position: relative;
    width: 30%;
    left: 30%;
    padding: 10px;
    border-top-style: groove;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: #ffc226
}

.tbl-form{
    position: relative;
    width: auto;
    left: 20%;
}

#div-a{
    border-style: groove;
    border-radius: 20px;
    border-color: #ffc226
}
input[type=reset] {
    background-color: #0c6ac6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=reset]:hover {
    background-color: red;
    -webkit-animation-name: anim-color;
    -webkit-animation-duration: 2s;
}
@-webkit-keyframes anim-color {
    from {background-color: #0c6ac6;}
    to {background-color: red;}
}
@keyframes anim-color {
    from {background-color: #0c6ac6;}
    to {background-color: red;}
}
#date-content{
    width: 100%
}
.boxes{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
