/*configuração vagabunda do menu de navegação (por sendo usada só na home page)*/

.block-principal{
    width: 1250px;/*altera a delimitação do conteudo do site onde estar o div, menos o menu ja que estar em posição absoluta.*/
    background-color: #ffffff;
    margin: 50px auto 50px auto;/*cima direita baixo esquerda,pode tbm ser usada np pading */
    box-shadow:0px 0px 10px rgba(0,0,0,.5); /*descolamentoLateral delocamentoVestical espalhamentoDaSombra corDaSombra */
    padding: 10px 10px 100px 10px;
}

.palavrasJogadasAoVento h1{
    padding-top: 90px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
.palavrasJogadasAoVento p{
    text-align: justify;
    text-indent: 50px;
}

.first-line-navigation{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    opacity:1;
}
section#introducao{
    display: block;
    width: 600px;
    float:left;
    border-right:1px solid #606060; /* tamanho tipo e cor*/
    padding: 5px 10px 5px 5px; /*cima direita baixo esqueda*/
    margin: 10px 10px 10px 10px ;

}

.login-or-sign-in-box img{
    position:absolute;
    top:20px;
    right:25px;
}
aside#artigo-home{
   display: block;
    width: 550px;
    float: right;
    background-color: Skyblue;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    padding: 10px 20px 10px 20px;
    margin: -180px 15px 500px 15px;
    border-radius: 10px;

}


footer#rodape{
    clear: both;/*limpa a configuração dos 2 lados*/
    border-top: 1px solid #606060;
}

.right-top-menu{
    display:block;
    background: linear-gradient(skyblue,DodgerBlue);
    padding: 10px 10px 10px;
    position:relative;
    top:0px;
    opacity:1;
    height: 50px;

}

.right-top-menu li{
    display:inline-block;
}
#ul1{
    list-style: none;
    position:absolute;
    top:0px;
    right:0px;
}

/*DROPIDOUN*/
.dropbtn {
    background: linear-gradient(skyblue,dodgerblue);
    padding: 16px;
    font-size: 15px;
    color:white;
    border: none;
    cursor: pointer;
    top:0px;
    height: 50px;
    
    
}

.dropDown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: skyblue;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-color: black;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropDown:hover .dropdown-content {
    display: block;
}

.dropDown:hover .dropbtn {
    background-color: #3e8e41;
}

/*FIM DO DROPIDOUM*/

/*DROPIDOUM 2*/

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: skyblue;
    min-width: 150px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-color: black;
    border-radius: 10px;
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 img {    
    padding: 12px 12px;
}

.dropdown-content2 a:hover {
    background-color: white;
    color: black;
}

.dropDown:hover .dropdown-content2 {
    display: block;
    color: black;
}

.dropDown:hover .dropbtn {
    background-color: #3e8e41;
}

/*FIM DO DROPIDOUM 2*/

.search-box {
    position:absolute;
    right:90px;
    top:10px;
    width:225px;
}

#second-menu{
    position: fixed;
    width: 800px;
    top:8px;
    right: 750px;

    
    
}

#nav-variant a{    
    text-decoration: none;
    padding-right: 20px ;


}

#nav-variant li{
    display: inline;    
    text-decoration: none;
    
    
}






/* custom search paage*/

.conteiner-options{
    float:left;
    width:50%;
}

.form-custom-search{
   float:right;
    width:50%;
}

